{{ define "head" }}
<script src="/count.js" defer></script>
{{ end}}

{{ define "content" }}
<article>
  <header><h2>Login</h2></header>
  <form action="/login" method="post">
    {{ if .InvalidPassword }}
    <p><strong style="color: red;">Invalid password</strong></p>
    {{ end }}
    {{ if .JustLoggedOut }}
    <p><strong style="color: green;">Successfully logged out</strong></p>
    {{ end }}
    <p>
      <label>Password</label><br>
      <input type="password" name="password" autofocus required>
    </p>
    <p>
      <button type="submit">Login</button>
    </p>
  </form>
</article>

{{ if .ShowAbout }}
<section>
  <h2 id="about">About</h2>

  <p>Sheep Count is a free and open-source web analytics application. It is an easy-to-use, privacy-friendly, self-hosted alternative to Google Analytics that is ideal for most low to medium traffic websites.</p>

  <p style="display: flex; justify-content: center; margin-top: 40px; margin-bottom: 40px;">
    <a href="https://github.com/james-atkins/SheepCount">
      <span class="button">
        <svg class="icon" viewBox="0 0 32 32"><path d="M16 0.395c-8.836 0-16 7.163-16 16 0 7.069 4.585 13.067 10.942 15.182 0.8 0.148 1.094-0.347 1.094-0.77 0-0.381-0.015-1.642-0.022-2.979-4.452 0.968-5.391-1.888-5.391-1.888-0.728-1.849-1.776-2.341-1.776-2.341-1.452-0.993 0.11-0.973 0.11-0.973 1.606 0.113 2.452 1.649 2.452 1.649 1.427 2.446 3.743 1.739 4.656 1.33 0.143-1.034 0.558-1.74 1.016-2.14-3.554-0.404-7.29-1.777-7.29-7.907 0-1.747 0.625-3.174 1.649-4.295-0.166-0.403-0.714-2.030 0.155-4.234 0 0 1.344-0.43 4.401 1.64 1.276-0.355 2.645-0.532 4.005-0.539 1.359 0.006 2.729 0.184 4.008 0.539 3.054-2.070 4.395-1.64 4.395-1.64 0.871 2.204 0.323 3.831 0.157 4.234 1.026 1.12 1.647 2.548 1.647 4.295 0 6.145-3.743 7.498-7.306 7.895 0.574 0.497 1.085 1.47 1.085 2.963 0 2.141-0.019 3.864-0.019 4.391 0 0.426 0.288 0.925 1.099 0.768 6.354-2.118 10.933-8.113 10.933-15.18 0-8.837-7.164-16-16-16z"></path></svg>
        Download
      </span>
    </a> 
  </p>

  <h3>Features</h2>

  <details>
    <summary>Simple</summary>
    <p>Sheep Count eschews complex configuration and unnecessary options. It just collects meaningful data such as referring websites, browser and operating system versions, user locations and display sizes.</p>
  </details>

  <details>
    <summary>Easy to Deploy</summary>
    <p>Sheep Count compiles to a single binary which contains everything needed to run. No external database is needed: Sheep Count stores its data using SQLite, the lightweight disk-based database that doesn't require a separate server process.</p>
  </details>

  <details>
    <summary>Privacy Friendly</summary>
    <p>Sheep Count tracks unique visits without using cookies or persistently storing any personal data.</p>
  </details>

  <details>
    <summary>Own Your Data</summary>
    <p>Data is stored in the ubiquitous SQLite format.</p>
  </details>

  <details>
    <summary>Lightweight</summary>
    <p>The core JavaScript is under 2KB and loads asynchronously.</p>
  </details>

  <details>
    <summary>Open Source</summary>
    <p>Sheep Count is written in Go. It is easy to extend with your own queries.</p>
  </details>

</section>
{{ end }}
{{ end }}

{{ template "base.html.tmpl" . }}
